.container {
  width: 100%;
  padding: 0 15px;
  .page-header & {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and(max-width:479px) {
  &.customers-list {
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and(min-width:768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
