.hero-title {
  max-width: 363px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61538;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.hero {
  padding-bottom: 200px;
  margin: 0 auto;
  padding-top: 200px;

  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../bg-pic/bg-picture-mobile.jpg),
    url(../bg-pic/bg-picture-mobile.webp.webp);

  background-color: #2f303a;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../bg-pic/bg-picture-mobile@2x.jpg),
      url(../bg-pic/bg-picture-mobile@2x.webp.webp);
  }
}

.hero-button {
  font-weight: 700;
  padding: 10px 32px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: black;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../bg-pic/bg-picture-tablet.jpg),
      url(../bg-pic/bg-picture-tablet.webp.webp);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../bg-pic/bg-picture-tablet@2x.jpg),
        url(../bg-pic/bg-picture-tablet@2x.webp.webp);
    }
  }
}

@media screen and(min-width:1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.363;
    max-width: 696px;
  }
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../bg-pic/bg-picture-desktop.jpg),
      url(../bg-pic/bg-picture-desktop.webp.webp);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../bg-pic/bg-picture-desktop@2x.jpg),
        url(../bg-pic/bg-picture-desktop@2x.webp.webp);
    }
  }
}
