.modal {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-height: 609px;
  height: 95vh;
  overflow: scroll;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and(max-width:479px) {
  .modal {
    width: 100%;
  }
}

@media screen and(min-width:1200px) {
  .modal {
    width: 528px;
    height: 581px;
    overflow: visible;
  }
}

.close-button-svg {
  width: 11px;
  height: 11px;
  .modal-close-button:hover &,
  .modal-close-button:focus & {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
