.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  padding-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-item {
  background-color: #ffffff;
  margin: 0px 0px 30px 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:last-child {
    margin: 0px;
  }
}

.members-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-top: 30px;
  text-align: center;
}

.members-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--second-level-color);
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.team-members {
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and(min-width:768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }

  .team-list-item {
    margin: 0px 30px 30px 0px;
    &:nth-child(2n + 2) {
      margin-right: 0px;
    }
    &:nth-child(n + 3) {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  .team-list-item {
    &:nth-child(n + 1) {
      margin-right: 30px;
    }
    &:nth-child(1n) {
      margin-bottom: 0px;
    }
    &:last-child {
      margin: 0px;
    }
  }

  .team-title {
    font-size: 36;
    line-height: 1, 166;
  }
}
